.header {
  width: 95%;
  height: 5rem;
  background: rgb(3, 4, 94);
  background: linear-gradient(
    90deg,
    rgba(3, 4, 94, 1) 0%,
    rgba(13, 110, 253, 1) 50%,
    rgba(202, 240, 248, 1) 100%
  );
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
  transform: rotateZ(-2deg) translateY(-4rem) translateX(0.25rem);
  border-radius: 2rem;
  position: absolute;
}

.header h2 {
  margin: 5rem;
  text-align: center;
  line-height: 1.2;
}



.pHeader {
  font-size: 1.5rem;
  text-align: center;
  width: 25ch;
  line-height: 1.2;
}


.slideshow {
  height: 250px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  display: flex;
}


.slideshow .mover1 {
  animation: moveSlideshow 60s linear infinite;
}
.slideshow .mover2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -500px;
  animation: moveSlideshow 60s linear infinite;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-52%);
  }
}


@media screen and (max-width: 768px) {
  .header h2 {
    font-size: 1rem;
    width: 70ch;
  }
  .pHeader {
    font-size: 0.9rem;
    width: 50ch;
    color: whitesmoke;
  }
  .header {
    align-items: right;
    padding-left: 0;
  }
}
