.slideshow {
  height: 250px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}


.slideshow > div {
  height: 250px;
  width: 5000px;
  background: url("../images/fullBanner.webp");
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.slideshow .mover1 {
  animation: moveSlideshow 25s linear infinite;
}
.slideshow .mover2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -500px;
  animation: moveSlideshow 25s linear infinite;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-52%);
  }
}

.review {
  display: flex;
  padding-left: 20px;
}
.review2 {
  display: flex;
  padding-left: 20px;
}

.reviewquote {
  padding-left: 20px;
}

.gridContainer {
  display: grid;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 4rem;
  
}

@media screen and (min-width: 768px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}



.logo{
  transition: all 0.2s ease-in-out;
}

.logo:hover{
  
  transform: scale(1.20);
}

.facts{
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  background: rgb(3,4,94);
  background: linear-gradient(90deg, rgba(3,4,94,1) 0%, rgba(13,110,253,1) 100%);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: white;
  font-family: 'Hanalei Fill', cursive;


}

.facts ul{
  list-style: none;
  font-size: 2.5rem;
}

.facts h3{
  text-align: center;
  font-size: 3rem;
  border-bottom: 1px solid  white;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}