.searchBar {
  padding: 3%;
  display: flex;
}

.searchBar input {
  border-radius: 8px 0px 0px 8px;
  width: 50vw;
}

.searchBar button {
  border-radius: 0px 8px 8px 0px;
  height:2.5rem;
}

.search {
  display: flex;
}



.btnMovies, .btnReset{
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

 .reset{
 margin-right: 1rem;
 align-self: left;
 cursor: pointer;
 align-items: center;
  border-radius: 35px;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  border: 3px solid white;
  background-color: rgba(13, 110, 253, 1);
  color: white;

}

.targetButton{
  margin-right: 1rem;
 align-self: left;
 cursor: pointer;
 align-items: center;
  border-radius: 35px;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  border: 3px solid white;
  background-color: rgba(13, 110, 253, 1);
  color: white;
}


.pressedButton{
  margin-right: 1rem;
 align-self: left;
 cursor: pointer;
 align-items: center;
  border-radius: 35px;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  border: 3px solid white;
  color: white;
  background-color: rgb(7, 50, 125);
}


.pressedButton:hover{
  background-color: rgba(13, 110, 253, 1);
}

.targetButton:hover{
  background-color:rgb(7, 50, 125);
}

.reset:active,
.btnSearch:active,
.btnSearch:hover,
.reset:hover {
  background: linear-gradient(
    90deg,
    rgba(3, 4, 94, 1) 0%,
    rgba(13, 110, 253, 1) 50%,
    rgba(202, 240, 248, 1) 100%
  );
}





.btnSearch {
  background: rgb(3, 4, 94);
  color: white;


}


