/* .changeDB button {
  background-color: aqua;
}

.buttonPressed {
  background-color: darkcyan !important;
}

.mongoButton {
  border-radius: 0px 8px 8px 0px;
}

.pgButton {
  border-radius: 8px 0px 0px 8px;
} */
